/* Windows 98 aOS Styles */
/* scrollbars */
::-webkit-scrollbar{
    width:16px;
    background-color: #DEDEDE;
    background-image: url('/customStyles/Windows98/win98scroll.png');
    box-shadow: none;
}
::-webkit-scrollbar-corner{
    background-color: #DEDEDE;
    background-image: url('/customStyles/Windows98/win98scroll.png');
    box-shadow: none;
}
::-webkit-resizer{
    border-radius: 0;
    background-color: #BDBDBD;
    box-shadow: none;
    width:12px;
    /*height:12px;*/
    border-top: 2px solid #DEDEDE;
    border-left: 2px solid #DEDEDE;
    border-bottom: 2px solid #7B7B7B;
    border-right: 2px solid #7B7B7B;
    background-color: #BDBDBD;
}
::-webkit-scrollbar-thumb{
    border-radius: 0;
    background-color: #BDBDBD;
    box-shadow: none;
    width: 12px;
    border-top: 2px solid #DEDEDE;
    border-left: 2px solid #DEDEDE;
    border-bottom: 2px solid #7B7B7B;
    border-right: 2px solid #7B7B7B;
    background-color: #BDBDBD;
}
::-webkit-scrollbar-button{
    border-radius: 0;
    background-color: #BDBDBD;
    box-shadow: none;
    width:12px;
    border-top: 2px solid #DEDEDE;
    border-left: 2px solid #DEDEDE;
    border-bottom: 2px solid #7B7B7B;
    border-right: 2px solid #7B7B7B;
    background-color: #BDBDBD;
}
/* buttons */
button{
    background-color: #BDBDBD;
    border-top: 2px solid #DEDEDE;
    border-left: 2px solid #DEDEDE;
    border-bottom: 2px solid #7B7B7B;
    border-right: 2px solid #7B7B7B;
    color: #000;
    border-radius:0;
    transition:none;
    box-shadow:none !important;
}
button:active{
    border-top: 2px solid #7B7B7B;
    border-left: 2px solid #7B7B7B;
    border-bottom: 2px solid #DEDEDE;
    border-right: 2px solid #DEDEDE;
}

#FIL2tbl div{
    background-color: #BDBDBD;
    border-top: 2px solid #DEDEDE;
    border-left: 2px solid #DEDEDE;
    border-bottom: 2px solid #7B7B7B;
    border-right: 1px solid #7B7B7B;
    box-shadow:inset -1px 0 0 #7B7B7B;
    color: #000;
}
#FIL2tbl div:active{
    border-top: 2px solid #7B7B7B;
    border-left: 2px solid #7B7B7B;
    border-bottom: 2px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    box-shadow:inset -1px 0 0 #DEDEDE;
}

/* inputs */
input, textarea{
    border-top: 2px solid #DEDEDE;
    border-left: 2px solid #DEDEDE;
    border-bottom: 2px solid #7B7B7B;
    border-right: 2px solid #7B7B7B;
    color: #000;
    border-radius:0;
    transition:none;
    box-shadow:none !important;
}
input:active, textarea:active{
    border-top: 2px solid #7B7B7B;
    border-left: 2px solid #7B7B7B;
    border-bottom: 2px solid #DEDEDE;
    border-right: 2px solid #DEDEDE;
}
/* dividers */
hr{
    border-top: 1px solid #7B7B7B;
    border-left: 1px solid #7B7B7B;
    border-bottom: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    background:none;
    height:0;
    width:calc(100% - 20px);
}
/* windows */
.window{
    border-radius: 0;
    border-top: 2px solid #DEDEDE;
    border-left: 2px solid #DEDEDE;
    border-bottom: 2px solid #7B7B7B;
    border-right: 2px solid #7B7B7B;
    margin-left:-2px;
    margin-top:-2px;
    background-color: #BDBDBD;
}
#notifWindow{
    border-radius: 0;
    border-top: 2px solid #DEDEDE;
    border-left: 2px solid #DEDEDE;
    border-bottom: 2px solid #7B7B7B;
    border-right: 2px solid #7B7B7B;
    background-color: #BDBDBD;
}
#notifWindow .winExit{
    border-top: 1px solid #DEDEDE;
    border-bottom:  1px solid #7B7B7B;
    border-left: 1px solid #DEDEDE;
    border-right: 1px solid #7B7B7B;
    width: 12px;
    height: 12px;
}
.winAero{
    display: none;
}
.winImg{
    display: none;
}
.winCap{
    background:linear-gradient(90deg, #00007B, #0884CE);
    height: 18px;
    left: 2px;
    padding-left:2px;
    padding-right:23px;
    margin-top:1px;
}
.winHTML{
    border-radius: 0;
    border-top: 1px solid #7B7B7B;
    border-left: 1px solid #7B7B7B;
    border-right: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    margin-left: -1px;
    margin-bottom: -1px;
    background-color:#BDBDBD;
}
.winShrink, .winExit, .winBig, .winFld{
    background-color: #BDBDBD;
    border-top: 1px solid #DEDEDE;
    border-bottom:  1px solid #7B7B7B;
    border-left: 1px solid #DEDEDE;
    border-right: 1px solid #7B7B7B;
    border-radius: 0;
    top: 3px;
    color: #000;
    width: 12px;
    height: 12px;
    font-size: 14px;
    font-family: aosProFont, monospace;
    line-height:12px;
    box-shadow:none;
}
.winExit{
    right: 4px;
}
.winBig{
    right: 22px;
}
.winShrink{
    right: 38px;
}
.winFld{
    left:calc(100% - 72px);
    line-height:18px;
}
/* taskbar */
#taskbar{
    background-color:#BDBDBD;
    border-top: 2px solid #DEDEDE;
    text-shadow: none;
    color: #000;
}
.widget{
    color:#000;
    text-shadow:none;
}
#widget_battery div{
    border-color:#000 !important;
}
#batteryWidgetFrame{
    outline-color:#000;
}
/* context menu */
#ctxMenu{
    border-top: 2px solid #DEDEDE;
    border-left: 2px solid #DEDEDE;
    border-bottom: 2px solid #7B7B7B;
    border-right: 2px solid #7B7B7B;
    background-color: #BDBDBD;
    color: #000;
    border-radius:0;
}
#ctxMenu p{
    transition: none;
    box-shadow:none;
    background:none;
    border-radius:0;
}
#ctxMenu p:hover{
    background-color: #000080 !important;
    color: #FFF;
    transition: none;
    box-shadow:none;
}
#ctxMenu p:hover img{
    filter:invert(1);
}
#ctxMenu hr{
    border-top: 1px solid #7B7B7B;
    border-bottom: 1px solid #DEDEDE;
    border-left:none;
    border-right:none;
    width:calc(100% - 1px);
    height: 0;
    margin-left: 0;
    margin-bottom:2px;
    margin-top:2px;
}

.winBimg{
    display:none !important;
}
#tskbrBimg{
    display:none !important;
}