::-webkit-scrollbar{
    width:16px;
    background-color:#557;
    box-shadow:inset 0 0 10px #AAC;
}
::-webkit-scrollbar-corner{
    background-color:#557;
    box-shadow:inset 0 0 10px #AAC;
}
::-webkit-resizer{
    border-radius:8px;
    background-color:#AAC;
    box-shadow:inset 0 0 10px #557;
}
::-webkit-scrollbar-thumb{
    border-radius:8px;
    background-color:#AAC;
    box-shadow:inset 0 0 10px #557;
}
::-webkit-scrollbar-button{
    border-radius:8px;
    background-color:#AAC;
    box-shadow:inset 0 0 10px #557;
}
button{
    background-color:#FFF;
    box-shadow:inset 0 0 5px #CCC;
    border-radius:5px;
    color:#333;
    border:1px solid #333;
    outline:none;
    transition:0.2s;
    cursor:inherit;
}
button:hover{
    box-shadow:inset 0 0 5px #AAA;
}
button:focus{
    box-shadow:inset 0 0 5px #999;
}
button:active{
    box-shadow:inset 0 0 10px #999;
}
input, textarea{
    background-color:#FFF;
    border:1px solid #333;
    border-radius:0;
    color:#333;
    box-shadow:inset 0 0 5px #CCC;
    outline:none;
    transition:0.2s;
}
input:hover, textarea:hover{
    box-shadow:inset 0 0 5px #AAA;
}
input:focus, textarea:focus{
    box-shadow:inset 0 0 5px #999;
}
input:active, textarea:active{
    box-shadow:inset 0 0 10px #999;
}
hr{
    width:100%;
    height:2px;
    border:none;
    background-image:url('hr.png');
    background-size:100% 2px;
}

html, body{
    background: #000;
    width:100%;
    height:100%;
    overflow:hidden;
    margin:0;
    padding:0;
}
#card{
    /*
    width:50%;
    height:50%;
    */
    position:absolute;
    left:50%;
    top:50%;
    background:#FFF;
    font-family:sans-serif;
    text-align:center;
    padding:32px;
    border-radius:32px;
    box-shadow:0 0 32px #000;
    overflow:auto;
    transform:translate(-50%, -50%);
}
#background{
    pointer-events:none;
    position:absolute;
    left:-20px;
    top:-20px;
    background-color:#000;
    background-image:url('p.png');
    background-position:20px 20px;
    filter:blur(10px);
    width:calc(100% + 40px);
    height:calc(100% + 40px);
}
#error{
    color:#F00;
}