img{
  width:30px;
  height:40px;
  padding:5px 10px 5px 10px;
}
body{
  overflow:hidden;
  width:100%;
  height:100%;
  color:#FFF;
  background-color:#333;
}
html{
  overflow:hidden;
}
#cheatboxlol{
  position:absolute;
  background:#000;
  border:5px solid #0F0;
  border-radius:10px; 
  width:3.5in;
  height:2.5in;
  z-index:400;
  top:2in;
  display:none;
}
#CloseTab{
  position:absolute;
  color:red;
  background:black;
  text-align:center;
  width:20px;
  height:20px;
  transition:.5s;
  right:0;
  top:0;
  border-left:2px solid #0F0;
  border-bottom:2px solid #0F0;
  border-bottom-left-radius:10px;
  opacity:0;
}
#CloseTab:hover{
  cursor:pointer;
  color:white;
  background:red;
}
#Upgrades{
  border:1px solid #000;
  height:97px;
}
#cookieshopHeader{
  text-align:center;
  border:2px solid #000;
  border-top-width:1px;
}
#cookieupgradeHeader{
  text-align:center;
  border:2px solid #000;
  border-bottom:1px;
}
#ShopName{
  transition:1s;
}
#showShop{
  position:absolute;
  height:60px;
  width:110px;
  right:0px;
  top:15px;
  display:block;
  font-size:40px;
  transition:1s;
  z-index:100;
}
#cookieShop{
  height:100%;
  background-color:#606060;
  right:-300px;
  top:0;
  position:absolute;
  opacity:0;
  transition:1s;
  width:250px;
  z-index:100;
  overflow-y:scroll;
  display:none;
}
#cookie:active{
  transform:scale(.95)
}
#cookie{
  position:absolute;
  width:360px;
  height:360px;
  z-index:5;
  border-radius:140px;
  left:calc(50% - 180px);
  top:calc(50% - 180px);
}
#cookie:hover, #showShop:hover{
  cursor:pointer;
}
#mcps{
  z-index:9999999999;
  pointer-events:none;
  position:absolute;
  margin:0;
  right:0;
  left:0;
  top:calc(70px + 1em);
  text-align:center;
}
#cps{
  z-index:9999999999;
  pointer-events:none;
  position:absolute;
  margin:0;
  right:0;
  left:0;
  top:70px;
  text-align:center;
}
#counter{
  z-index:9999999999;
  pointer-events:none;
  position:absolute;
  margin:0;
  right:0;
  left:0; 
  top:15px;
  text-align:center;
  font-size:50px;
  font-weight:900;
  color:#DDD;
  text-shadow:-1px -1px 0 #BBB, 1px 1px 0 #FFF;
}
::selection{
    background:none;
}
/*
        sliding switch
*/
/* The switch - the box around the slider */
.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.ShopItem{
  width:100%;
  height:50px;
  font-size:15px;
  text-align:center;
  border:2px solid #000;
  border-top:0px;
  border-left:0px;
  border-right:0px;
  background:rgba(0, 0, 0, 0.25);
}
.ShopItem .imgItem{
  position:absolute;
  margin:0;
  z-index:150;
  left:0px;
  width:50px;
  height:50px;
  border:2px solid #000;
  border-bottom:0px;
  border-top:0px;
}
.ShopItem .NameCenter{
  position:absolute;
  margin:0;
  right:0;
  left:0;
  padding-left:55px;
  padding-right:55px; 
  /*padding-top:15px;*/
}
.ShopItem .numberOfItems{
  position:absolute;
  margin:0;
  z-index:150;
  right:0px;
  width:50px;
  height:50px;
  border:2px solid #000;
  border-bottom:0px;
  border-top:0px;
}
.ShopItem .NameCenterNum{
  padding:absolute;
  margin:0;
  padding-top:15px;
  z-index: 150;
}
.ShopItem .ItemPrice{
  position:absolute;
  font-size:10px;
  right:0;
  left:0;
  margin:0;
  padding-top:35px;
  padding-right:50px;
  padding-left:50px;
  text-shadow:0 0 1px #000;
}

#effects{
  position:absolute;
  width:360px;
  height:360px;
  left:0;
  top:0;
  pointer-events: none;
}

.disabled{
  opacity:0.5;
  pointer-events:none;
}
.upgradeItem{
  position:absolute;
  margin:0;
  width:114.5px;
  height:46.5px;
  border:1px solid #000;
  
}
.upgradeItem .imgItem{
  position:absolute;
  margin:0;
  z-index:150;
  left:0px;
  width:50px;
  height:50px;
}
.upgradeItem .NameCenter{
  position:absolute;
  margin:0;
  right:0;
  top:0;
  text-align:right;
}
.upgradeItem .numberOfItems{
  position:absolute;
  margin:0;
  z-index:150;
  right:0px;
  top:1em;
  width:100px;
  height:25px;
  text-align:right;
}
.upgradeItem .NameCenterNum{
  margin:0;
  z-index: 150;
}
.upgradeItem .ItemPrice{
  position:absolute;
  font-size:10px;
  right:0;
  bottom:-10px;
}

.floatingCursor{
  position:absolute;
  transition:0.1s;
  background-image:url(cursor-aero.png);
  width:25px;
  height:25px;
  background-repeat:no-repeat;
  background-position:0 0;
  transform-origin:0 0;
  transition-timing-function:linear;
}

#fps{
  position:absolute;
  z-index:9999999;
  height:1em;
  width:50px;
  bottom:1em;
  left:1em;
}
#versonUpdate{
  transition:1s;
  border-right:5px solid gray;
  border-top:5px solid gray;
  border-bottom:5px solid gray;
  border-bottom-right-radius:20px;
  border-top-right-radius:20px;
  background-color: #000;
  position: absolute;
  width:300px;
  height:300px;
  left:-305px;
  bottom:150px;
  overflow:auto;
}
#updates:hover{
  cursor:pointer;
}

#how_to_play{
  width:640px;
  height:480px;
  position:absolute;
  left:0;
  bottom:0;
  display:none;
  z-index:9999999999999999999;
}