@font-face{
    font-family: "aosProFont";
    src:
	    url('/ProFont/ProFontOnline.ttf') format('truetype'),
	    url('/ProFont/ProFontOnline.woff') format('woff'),
        url('/ProFont/ProFontOnline.eot'),
	    url('/ProFont/ProFontOnline.svg') format('svg');
}
html, body{
	margin: 0;
	background-color: #777;
	font-family:aosProFont, monospace;
	font-size:12px;
	cursor:url(/cursors/default.png) 3 3, default;
}
div{
	position: absolute;
	overflow: hidden;
}
#screen{
	width:95%;
	height:10%;
	font-family:monospace;
	font-size:8vh;
	text-align:right;
	left: 2.5%;
	top: 2.5%;
	background-color:#FFB;
	overflow:auto;
	cursor:url(/cursors/default.png) 3 3, default;
}
#desc{
	width: 95%;
	left:2.5%;
	top:15%;
}
#buttons{
	width:95%;
	height:80%;
	left:2.5%;
	bottom:2.5%;
	overflow:visible;
}
.btn{
	width:calc(10% - 2px);
	height:calc(10% - 2px);
	border:1px solid #777;
	background-color:#606060;
	color:#FFF;
	font-size:5vh;
	font-family:monospace;
	line-height:150%;
	text-align:center;
	transition:opacity 1s;
	cursor:url(/cursors/pointer.png) 9 3, pointer;
	outline:none;
}/*
.btn:hover{
	box-shadow:0 0 10px #000;
}*/
.btn:active{
	height:calc(20% - 2px);
	z-index:100;
	border-color:#FFF;
	border-radius:10px;
	border-bottom-left-radius:50%;
	border-bottom-right-radius:50%;
	transform:scale(1.5);
	transform-origin:50% 100%;
	outline:none;
}
.disabled{
	opacity:0.3;
	pointer-events:none;
	cursor:url(/cursors/default.png) 3 3, default;
}
#chars{
	left:2.5%;
	top:2.5%;
	opacity:0.25;
	pointer-events:none;
}