/* Windows XP */
.winExit, .winShrink, .winBig{
    top:6px;
    border:1px solid #FFF;
    color:#FFF;
    border-radius:3px;
    box-shadow:inset 0 0 2px rgba(0, 0, 0, 0.5);
}
.winFld{
    display:none;
}
.winBig, .winShrink{
    background:radial-gradient(ellipse farthest-corner at 0px 0px, #94B7F9 0%, #004DE0 100%);
}
.winExit{
    background:radial-gradient(ellipse farthest-corner at 0px 0px, #F0A896 0%, #D93401 100%);
}
.winExit:hover, .winShrink:hover, .winBig:hover{
    border-color:#FFF;
    color:#FFF;
}
.winShrink:active, .winBig:active{
    background:radial-gradient(ellipse farthest-corner at 100% 100%, #004DE0 55%, #94B7F9 100%);
    color:#DDD;
}
.winExit:active{
    background:radial-gradient(ellipse farthest-corner at 100% 100%, #D93401 55%, #F0A896 100%);
}
#taskbar{
    background:linear-gradient(to bottom, #326ED8 0, #4590E5 3px, #2259D7 6px, #2158D7 60%, #2562DF 90%, #1941A5 100%);
}
.winAero, .winBimg{
    display:none;
}
#icn_startMenu{
    border-top-right-radius:10px !important;
    border-bottom-right-radius:10px !important;
    background:linear-gradient(to bottom, #479246 0, #8FC08F 3px, #409A3F 6px, #43A543 60%, #38A638 90%, #31723F 100%);
    box-shadow:inset 6px 6px 3px -5px #559B55, inset -6px -6px 10px -5px #246825, 2px 2px 1px #2A71E2;
}
#time{
    width:auto;
    right:0;
    top:0;
    padding-top:4px;
    background:linear-gradient(to bottom, #0D79D7 0, #18B5F2 3px, #139CEC 6px, #0D8DEA 60%, #1395E4 90%, #095BC9 100%);
    box-shadow:inset 10px 0 10px -10px #21C1F3;
    border-left:1px solid #0A365A;
}
.winCap{
    left:0;
    top:0;
    padding-left:3px;
    width:100% !important;
    padding-top:0px;
    background:linear-gradient(to bottom, #075FED 0, #3994FF 3px, #0054E3 6px, #0055EA 52%, #046EFC 82%, #0444D1 92%);
    box-shadow:inset 25px 0px 10px -20px #0022C7, inset -25px 0px 10px -20px #0022C7;
}
.window{
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    background:#0022C7;
}
.winHTML{
    border-radius:0;
    background-color:#ECE9D8;
    box-shadow:-3px 0 3px -1px #1467EB, 1px 1px 1px #003DDD;
}