@font-face{
    font-family: "aosProFont";
    src:
        url('../ProFont/ProFontOnline.ttf') format('truetype'),
        url('../ProFont/ProFontOnline.woff') format('woff'),
        url('../ProFont/ProFontOnline.eot'),
        url('../ProFont/ProFontOnline.svg') format('svg');
}

html, body{
    background:none;
    font-family:sans-serif;
}

div{
    position:relative;
}

#progressContainer{
    background:#000;
    width:100%;
    height:5px;
    border:1px solid #000;
}
#progress{
    background:#0F0;
    height:5px;
}
#songList{
    border:1px solid #000;
    width:100%;
    height:calc(100% - 75px);
    overflow:auto;
    font-family:aosProFont, Courier, monospace;
    font-size:12px;
}
#visualizer{
    position:absolute;
    left:3px;
    bottom:3px;
    width:calc(100% - 8px);
    height:calc(100% - 81px);
    background:#000;
    border:1px solid #000;
}
#visCanvas{
    position:absolute;
    display:block;
    border:none;
    background:none;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:1000;
}
#smokeScreen1{
    background:url(smoke_transparent.png);
    background-repeat:repeat;
    width:100%;
    height:100%;
    z-index:950;
    position:absolute;
    opacity:0.75;
}
#smokeScreen2{
    background:url(smoke_transparent.png);
    background-repeat:repeat;
    width:100%;
    height:100%;
    z-index:950;
    position:absolute;
    opacity:0.9;
}
#smokeCanvas{
    position:absolute;
    display:block;
    border:none;
    background:none;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:900;
}
#songList div{
    cursor:pointer;
    padding:3px;
    margin:3px;
}
#songList div:hover{
    background:rgba(127, 127, 127, 0.25);
}
#currentlyPlaying{
    width:100%;
    height:24px;
    max-height:24px;
    border:1px solid #000;
    font-family:aosProFont;
    font-size:24px;
}
#controls{
    width:100%;
    height:38px;
    max-height:38px;
    text-align:center;
    border:1px solid #000;
}

.darkMode #progressContainer, .darkMode #songList, .darkMode #currentlyPlaying, .darkMode #controls{
    border-color:#FFF;
}

.selected{
    background:rgba(127, 127, 127, 0.1);
}
.disabled{
    display:none !important;
}
.winHTML{
    border-radius:0 !important;
}

#selectOverlay{
    position:absolute;
    z-index: 1100;
    background: rgba(0, 0, 0, 0.75);
    width: calc(100% - 8px);
    height: calc(100% - 81px);
    left: 4px;
    bottom: 4px;
    text-align:center;
}
#selectContent{
    height:100%;
    overflow-y:auto;
    position:relative;
    text-align:left;
    display:inline-block;
    color:#FFF;
    font-family:aosProFont, monospace;
    font-size:24px;
    background:#000;
}
#selectContent div{
    width:100%;
    /*padding-right:16px;*/
    cursor:default;
}
#selectContent .visOption{
    margin-top:2px;
    line-height:128px;
    height:128px;
}
#selectContent .modOption{
    margin-top:2px;
    line-height:128px;
    height:128px;
}
#selectContent div:hover{
    background: rgba(255, 255, 255, 0.1);
}
#selectContent div:active{
    background: rgba(255, 255, 255, 0.25);
}
#selectContent .visOption img{
    height:128px;
    margin-right:16px;
    margin-bottom:-52px;
}
#selectContent .visOption span{
    height:128px;
    margin-right:246px;
}
#selectContent .modOption img{
    height:128px;
    margin-right:16px;
    margin-bottom:-52px;
}
#selectContent .modOption span{
    height:128px;
    margin-right:246px;
}
#selectContent div:hover img{
    filter:contrast(0.9) brightness(2);
}
#selectContent .modOption:hover img{
    filter:contrast(0.8);
}
#selectContent div:active img{
    filter:contrast(0.9) brightness(5);
}
#selectContent .colorOption{
    text-align:center;
    padding-top:32px;
}
#selectContent .colorOption img{
    width:256px;
    margin-bottom:-6px;
}
#selectBackground{
    position:absolute;
    width:100%;
    height:100%;
}